.movies-card {
    background: #FDFDFD;
    border-radius: 6px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    display: grid;
}

.movies-card__link {
    display: block;
}

.movies-card__cover {
    display: block;
    height: 168x;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

.movies-card__info {
    display: flex;
    flex-direction: column;
}

.movies-card__first-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.movies-card__button {
    background-image: url(../../images/like_movie.svg);
    transition: opacity .2s ease-in;
    background-color: initial;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 19px;
    border-style: none;
    cursor: pointer;
    height: 24px;
    padding: 0 0 3px;
    width: 24px;
}

.movies-card__title {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.movies-card__duration {
    color: #A0A0A0;
    margin: 0;
    padding: 0 0 14px 14px;
    font-size: 10px;
    line-height: 12px;
    text-align: start;
}

@media screen and (min-width: 768px) {
    .movies-card__first-row {
        padding: 16px;
    }

    .movies-card__duration {
        font-size: 11px;
        line-height: 13px;
        padding: 0 0 16px 16px;
    }

    .movies-card__title {
        font-size: 13px;
        line-height: 16px;
    }

    .movies-card__cover {
        height: 190px;
    }
}

@media screen and (min-width: 1125px) {
    .movies-card__cover {
        height: 203px;
    }
}