
.portfolio {

}

.portfolio__title {
    font-size: 14px;
    line-height: 20px;
    color: #A0A0A0;
    font-weight: 400;
}

.portfolio__cases {
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio__case {
    padding: 20px 0;
}

.portfolio__case:not(:last-of-type) {
    border-bottom: 1px solid #E6E6E6;
    padding: 20px 0;
}

.portfolio__link {
    background: url(../../images/arrow_link.svg) center right 5px / 16px 16px no-repeat;
    color: #000;
    display: block;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 28px;
    text-decoration: none;
    transition: all .2s;
}

@media screen and (min-width: 768px) {
    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
    }
}

@media screen and (min-width: 1025px) {
    .portfolio__link {
        font-size: 30px;
    }
}