.section-container {
    padding: 70px 18px;
}

@media screen and (min-width: 768px) {
    .section_container {
        padding: 90px 50px;
    }
}

@media screen and (min-width: 1025px) {
    .section_container {
        padding: 110px 70px;
    }
}